.ra-icon {
  --ra-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--ra-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .ra-icon--$(val) {
    --ra-icon-color: var(--ra-color-$(
        val)
    );
}
}